<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.bqs.dao.CategoryMapper">

    <update id="update" parameterType="Category">
        update yx_category SET cate_name=#{cateName} where id=#{id}
    </update>
</mapper>